body {
    font-family: 'Raleway', sans-serif;

    header {
        nav {
            z-index: 1;
            position: absolute !important;
            background: transparent;
            width: 100%;
            position: fixed !important;

            ul {
                li {
                    margin: 0px 4px;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 700;

                    a {
                        color: #fff;
                        text-decoration: none;
                        letter-spacing: 2px;
                    }
                }
            }
        }

        nav.sticky {
            background: #282828;
            z-index: 11;
        }

        .slider-header {
            top: 0;
            position: relative;
            background-image: url(../img/bg1.jpg);
            background-size: cover;
            background-attachment: scroll;
            background-repeat: repeat-y;
            background-position: center center;
            height: 100vh;
            width: 100%;

            #myPageContent {
                #home {
                    #textSlider {
                        &.row {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100% !important;
                            margin: 0 auto;

                            .slideCol {
                                text-align: left;
                                overflow: hidden;
                                font-weight: 900;
                                font-size: 40pt;
                                display: block;
                                white-space: nowrap;
                                color: #FFF;
                                font-family: 'Lato', sans-serif;
                                text-transform: uppercase;

                                .scroller {
                                    height: 70pt;
                                    line-height: 70pt;
                                    overflow: hidden;

                                    .inner {
                                        text-align: center;
                                        animation: 10s normal infinite running scroll;

                                        p {
                                            margin: 0px !important;
                                        }

                                    }

                                    @keyframes scroll {
                                        0% {
                                            margin-top: 0px;
                                        }

                                        15% {
                                            margin-top: 0px;
                                        }

                                        25% {
                                            margin-top: -70pt;
                                        }

                                        40% {
                                            margin-top: -70pt;
                                        }

                                        50% {
                                            margin-top: -140pt;
                                        }

                                        65% {
                                            margin-top: -140pt;
                                        }

                                        75% {
                                            margin-top: -210pt;
                                        }

                                        90% {
                                            margin-top: -210pt;
                                        }

                                        100% {
                                            margin-top: 0px;
                                        }

                                    }
                                }

                                .slider-btn {
                                    display: flex;
                                    justify-content: center;
                                    margin-top: 20px;

                                    a {
                                        font-size: 15px;
                                        color: #fff;
                                        text-decoration: none;
                                        border: 1.5px solid #fff;
                                        padding: 11px 52px;
                                        margin: 0px 10px;

                                        &:hover {
                                            background-color: #fff;
                                            color: #000;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .about-us-area {
        .about-detail {
            h2 {
                font-family: 'Cairo', sans-serif;
                font-weight: 700;
                color: #2e2e2e;
                padding-right: 10px;
                line-height: 40px;
                font-size: 30px;
            }

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                padding: 25px 30px 50px 0;
                color: #919191;
            }

            .counter {
                background-color: #fff;
                box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                text-align: center;
                padding: 7px 0;
                margin: 0 auto;
                margin-bottom: 25px;
            }
        }

        .about-img {
            .about-img-main {
                position: relative;

                &:after {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    content: '';
                    background: #000;
                    opacity: .6;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .product-features {
        background-image: url(../img/service-bg.jpg);
        background-repeat: repeat;
        background-position: center center;
        background-size: cover;
        height: 100%;

        .section-heading {
            h2 {
                font-family: 'Cairo', sans-serif;
                font-size: 30px;
                text-transform: capitalize;
                line-height: 27px;
                color: #525252;
                margin-bottom: 25px;
                font-weight: 600;
            }

            p {
                margin-bottom: 50px;
                padding: 0 30%;
                font-weight: 400;
                color: #646464;
            }
        }

        .product-features-main {
            .single-product-features {
                background: #fff;
                padding: 20px;
                box-shadow: 0 0 12px -5px #717171;
                align-items: center;
                margin-bottom: 25px;

                .single-product-detail {
                    padding-left: 20px;

                    h5 {
                        font-family: 'Cairo', sans-serif;
                        margin-bottom: 10px;
                        color: #646464;
                        font-weight: 600;
                        text-transform: capitalize;
                        line-height: 16px;
                    }

                    p {
                        font-size: 16px;
                        color: #4c4c4c;
                        line-height: 26px;
                        margin: 0;
                        font-weight: 400;
                    }
                }
            }

            .product-img {
                img {
                    width: 70%;
                }
            }

        }
    }

    .services {
        .service-main {
            padding: 50px;
            padding-bottom: 0;

            .single-service {
                border-right: 1px solid transparent;
                border-image: url(../img/vl1.png) 30 round;

                .service-icon {
                    i {
                        font-size: 35px;
                        margin-right: 15px;
                        color: #474747;
                    }
                }

                .service-detail {

                    h5 {
                        font-family: 'Cairo', sans-serif;
                        margin-bottom: 14px;
                        color: #646464;
                        font-weight: 600;
                        text-transform: capitalize;
                        line-height: 16px;

                    }

                    p {
                        margin-bottom: 23px;
                    }
                }

                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: url(../img/hl1.png) 0 0 no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }

    .client {
        .client-says {
            background-image: url(../img/service-bg.jpg);
            background-repeat: repeat;
            background-position: center center;
            background-size: cover;
            height: 100%;

            .section-heading {
                h2 {
                    font-family: 'Cairo', sans-serif;
                    font-size: 36px;
                    text-transform: capitalize;
                    line-height: 38px;
                    color: #525252;
                    margin-bottom: 25px;
                    font-weight: 600;
                }

                p {
                    margin-bottom: 50px;
                    font-weight: 400;
                    color: #646464;
                }

                a {
                    background: #414141;
                    padding: 12px 24px;
                    color: #fff;
                    border-radius: 5px;
                    text-decoration: none;
                }
            }
        }

        .client-slider {
            i {
                position: absolute;
                top: 7%;
                left: 6%;
                font-size: 39px;
                line-height: 1;
                transform: rotate(135deg);
                color: #eaeaea;
                transition: .4s all;
            }

            .client-testimonial {
                padding: 50px 50px;
                box-shadow: 0 0 12px -5px #717171;
                margin: 10px;
                background-color: #fff;
                border-radius: 10px;

                .client-review {
                    margin-bottom: 35px;
                }

                .client-detail {
                    position: relative;

                    .client-personal-detail {
                        h5 {
                            font-weight: 800;
                        }
                    }

                    .client-img {
                        position: absolute;
                        right: 0;
                        top: -17px;
                    }
                }


            }
        }
    }

    .client-section {
        .section-heading {
            h2 {
                font-family: 'Cairo', sans-serif;
                font-size: 30px;
                text-transform: capitalize;
                line-height: 27px;
                color: #525252;
                margin-bottom: 25px;
                font-weight: 600;
            }

            p {
                margin-bottom: 50px;
                padding: 0 30%;
                font-weight: 400;
                color: #646464;
            }
        }

        .client-section-img {
            .client-img {
                img {
                    width: 80%;
                }
            }
        }
    }

    footer {
        background-color: #282828;
        color: #fff;

        .main-footer {

            .footer-detail {
                .footer-detail-head {
                    h6 {
                        font-size: 12px;
                        text-transform: uppercase;
                        color: #fff;
                        letter-spacing: 2px;
                        font-weight: 600;
                        margin-bottom: 30px;
                    }
                }

                .footer-detail-about {
                    p {
                        margin-bottom: 30px;
                    }

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li {
                            border-bottom: 0.05px solid #414141;
                            margin: 10px 0px;
                            color: #999999;
                            line-height: 24px;
                            letter-spacing: 0.5px;
                            font-weight: 500;

                            .company-detail {
                                i {
                                    margin-right: 10px;
                                    font-size: 20px;
                                }

                                p {
                                    margin: 0;
                                    padding-bottom: 10px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                .footer-detail-link {
                    ul {
                        list-style: circle;
                        margin: 0;
                        padding: 0;
                        margin-left: 10px;
                        color: #999999;

                        li {
                            font-size: 12px;
                            text-transform: uppercase;

                            a {
                                text-decoration: none;
                                color: #999999;
                                font-size: 12px;
                                line-height: 36px;
                                display: inline-block;
                                width: 100%;
                                letter-spacing: 2px;
                                line-height: 36px;
                            }
                        }
                    }
                }

                .footer-detail-news {
                    p {
                        font-size: 14px;
                    }

                    .subscribe {
                        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                        padding-bottom: 20px;
                        margin-top: 10px;
                        display: inline-block;
                        width: 100%;

                        input {
                            width: 100%;
                            border: none;
                            height: 40px;
                            font-size: 12px;
                            padding: 0 10px;
                            margin-bottom: 5px;
                        }

                        button {
                            background: #965452;
                            border: none;
                            float: right;
                            margin-top: -45px;
                            height: 40px;
                            color: #fff;
                            padding: 0 20px;
                            line-height: 40px;
                            z-index: 9;
                            position: relative;
                        }
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        list-style: none;
                        margin: 15px auto;

                        li {
                            height: 30px;
                            width: 30px;
                            background-color: aliceblue;
                            border-radius: 50px;
                            color: #000;
                            margin-right: 10px;

                            a {
                                text-decoration: none;
                                color: #282828;

                                i {
                                    display: flex;
                                    text-align: center;
                                    justify-content: center;
                                    height: 100%;
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                }

            }
        }

        .copyright-footer {
            background: #252525;
            padding: 20px 0;
            text-align: center;

            p {
                margin: 0;
                font-size: 14px;
            }
        }
    }
}
